{{ define "main" }}
  <div class="container-fluid">
    <img
      src="{{- .Site.BaseURL }}/img/{{- .Section }}/{{- .Params.hdrImage }}"
      class="img-fluid w-100 mb-5" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1>{{ .Title }}</h1>
        <div class="py-5">
          {{ .Content }}
        </div>
        <hr class="py-5" />
      </div>
    </div>
    <div class="row">
      {{ range .Pages.ByWeight }}
        <div class="col-lg-6">
          <h2 class="pb-4">{{ .LinkTitle }}</h2>
          {{ .Content }}
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
