/* Just so that the file is not empty */

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #2e2e2e;
}

.fsource-serif-4 {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", sans-serif;
  color: #2e2e2e;
  font-weight: 400;
}

.herobg {
  background-image: url("img/sethu-hero.jpg");
  background-color: transparent;
  background-position: center;
}

h2.lead {
  color: #c71e1e;
  font-weight: 500;
  font-size: 25px;
}

span.impact-hdr {
  padding-left: 50px;
  background-image: url("/sethu/img/quote-left.png");
  background-repeat: no-repeat;
}

h1.services-hdr {
  padding-left: 50px;
  background-image: url("/sethu/img/services.png");
  background-repeat: no-repeat;
}

h1.sponsors-hdr {
  padding-left: 50px;
  background-image: url("/sethu/img/sponsors.png");
  background-repeat: no-repeat;
}

p.lead {
  font-family: "Lora", serif;
  font-style: italic;
  font-weight: 400;
  margin: 10px 0px;
  line-height: 1.75rem;
  color: #6e6e6e;
}

.author {
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: italic;
  width: inherit;
  color: #c71e1e;
  padding-bottom: 20px 0;
  margin: 0px;
}

.quote {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.3rem;
}

a {
  outline: none;
  text-decoration: none;
  color: red;
}

:focus {
  outline: 0;
}

a:hover,
a:active,
a:focus {
  outline: 0 !important;
  text-decoration: none;
}

.navbar .nav-item {
  font-family: "Fira Sans", sans-serif;
  color: #2e2e2e;
  font-weight: 500;
  font-size: 1.2rem;
}

#footer {
  background: #222 url("/sethu/img/foot_top.png") repeat;
  padding-top: 30px;
  margin-top: 60px;
  color: #666;
  font-family: "Fira Sans", sans-serif;
  font-size: smaller;
}

.container-fluid {
  --bs-gutter-x: 0;
}

.program-intro {
  font-family: "Lora", serif;
  font-style: italic;
  font-weight: 400;
  line-height: 1.75rem;
  color: #6e6e6e;
  margin-bottom: 5rem;
}

.program-story {
  font-family: "Lora", serif;
  font-style: italic;
  font-weight: 400;
  line-height: 1.35rem;
  color: #6e6e6e;
  margin: 2rem, 0;
}

#footer li {
  padding: 0 0 15px 0;
  margin-bottom: 15px;
  border-bottom: 1px #222 solid;
  line-height: 16px;
}
#footer li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

#footer .col-md-3 a {
  color: #aaa;
}
#footer .col-md-3 a:hover {
  color: #eee;
}

#footer h6 {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #aaa;
}
#footer .col-md-3 {
  padding-bottom: 30px;
}

#footer strong {
  color: #aaa;
}

/* Flickr */
.flickrs {
  margin: 10px -10px 0 0;
}
.FlickrImages li {
  margin: 0 9px 6px 0 !important;
  padding: 0 !important;
  float: left;
  border: 0 !important;
}
.FlickrImages li a {
  display: block;
  width: 48px !important;
  height: 48px !important;
  overflow: hidden;
  float: left;
}
.FlickrImages li a img {
  width: 48px !important;
  height: 48px !important;
  border: 0;
  opacity: 1;
  border-radius: 3px;
}
.FlickrImages li a:hover img {
  width: 48px !important;
  height: 48px !important;
  border: 0;
  border-radius: 3px;
}

#footer .icons {
  list-style-type: none;
  padding: 0;
  margin: 0px 18px 0px;
}

.footer_bottom {
  background: #1e1e1e url(/sethu/img/foot_bottom.png) repeat;
  margin-top: 40px;
  padding: 20px 0 15px 0;
}
.copyright {
  line-height: 20px;
  padding: 12px 0 10px;
  color: #555;
}
.copyright a {
  color: #666;
}
.copyright a:hover {
  color: #777;
}
.foot_right_block {
  margin: 10px 0px;
}
.foot_menu {
  text-align: right;
}
.foot_menu li {
  display: inline-block;
  padding: 0 16px 0 0 !important;
  border: 0 !important;
  margin-top: 0px;
}
.foot_menu li:last-child {
  padding: 0 !important;
}
.foot_menu li a {
  text-transform: uppercase;
  color: #444;
  font-size: 14px;
  font-weight: 700;
}
.foot_menu li a:hover,
.foot_menu li a.current {
  color: #555;
  text-decoration: none;
}
#footer .follow_us-right {
  padding: 0px 0 5px 0;
  text-align: right;
}

#footer .follow_us-right {
  padding: 0px 0 5px 0;
  text-align: right;
}

#footer .follow_us-right a {
  color: #5f5f5f;
  font-size: 18px;
  margin-left: 20px;
}

#footer .follow_us-left a {
  color: #5f5f5f;
  font-size: 18px;
  margin-right: 20px;
}

.follow_us ul,
#footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-content p:first-child {
  font-weight: 600;
  font-size: 140%;
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbar .span8,
  .navbar .span4 {
    float: none;
    width: 724px;
  }
}

@media (max-width: 979px) {
  .header {
    border-bottom: 0px none;
  }
  #main_menu {
    float: none;
  }
  nav#main_menu ul {
    display: none;
  }
  nav#main_menu select {
    display: inline-block;
    width: 100% !important;
    margin-top: 10px;
  }
  .menu_wrap {
    float: none;
  }
  .header .span4,
  .header .span8 {
    float: none;
    text-align: center;
  }
  .foot_right_block {
    margin-top: 15px;
  }
  .foot_menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  /* prettyPhoto styling for small screens */
  .pp_pic_holder.pp_default {
    width: 100% !important;
    left: 0 !important;
    overflow: hidden;
  }
  div.pp_default .pp_content_container .pp_left {
    padding-left: 0 !important;
  }
  div.pp_default .pp_content_container .pp_right {
    padding-right: 0 !important;
  }
  .pp_content {
    width: 100% !important;
    height: auto !important;
  }
  .pp_fade {
    width: 100% !important;
    height: 100% !important;
  }
  a.pp_expand,
  a.pp_contract,
  .pp_hoverContainer,
  .pp_gallery,
  .pp_top,
  .pp_bottom {
    display: none !important;
  }
  #pp_full_res img {
    width: 100% !important;
    height: auto !important;
    border-radius: 0px;
  }
  .pp_details {
    width: 94% !important;
    padding-left: 3%;
    padding-right: 4%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    margin-top: -2px !important;
  }
  a.pp_close {
    right: 10px !important;
    top: 10px !important;
  }

  .copyright,
  .follow_us,
  .foot_right_block {
    float: none !important;
    text-align: center !important;
  }
  .shotList img {
    width: 48.8% !important;
    padding: 0 0 10px 0;
    margin: 0 auto !important;
    margin-left: 0px !important;
    margin-right: 5px !important;
  }
}

@media only screen and (max-width: 480px) {
  .shotList img {
    width: 100% !important;
    padding: 0 0 20px 0;
    margin: 0 auto !important;
    margin-left: 0px !important;
  }
}
