<div class="container-fluid text-center">
  <img src="/img/sethu-hero.jpg" class="img-fluid" />
</div>
<div class="container col-xxl-10 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5">
    <div class="col-lg-6">
      <img
        src="/img/wordcloud.png"
        class="d-block mx-lg-auto img-fluid w-100"
        alt="Bootstrap Themes"
        loading="lazy" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 text-body-emphasis lh-1 mb-3">We are &hellip;</h1>
      <p class="lead">
        &hellip; an award winning non-profit that caters to the developmental,
        behavioural, emotional and educational needs of children and young
        people aged 0&ndash;19 years through interdisciplinary services.
      </p>
      <p class="lead">
        ‘Sethu’ means ‘bridge’ because we build bridges between children and all
        those who care for them – their families, schools and communities –
        through collaboration and capacity building.
      </p>
    </div>
  </div>
</div>
