<div class="container navigate">
  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
        <img src="img/team.png" class="py-3" />
        <h4>Work with Us</h4>
      </div>
      <p>
        Sethu offers opportunites to work with us as volunteers, interns and
        program participants hellip; See our upcoming workshops lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Phasellus condimentum
        turpis lorem.
        <a href="#">Explore our Programs</a>
      </p>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <img src="img/challenge.png" class="py-3" />
        <h4>Challenge Us</h4>
      </div>
      <p>
        We offer consulting, therapy and assessment services &hellip;praesent
        vestibulum velit quis dui iaculis laoreet eu quis mi. Phasellus accumsan
        efficitur ipsum sit amet mattis suscipit at. Some more meaningless latin
        to balance height
        <a href="#">Visit and Consult</a>
      </p>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <img src="img/support.png" class="py-3" />
        <h4>Stengthen Us</h4>
      </div>
      <p>
        Sethu needs your support to strengthen our work &hellip; We are an FCRA
        certified NGO and we accept donations from nulla finibus luctus euismod.
        Phasellus viverra mattis elit, ac sagittis dolor fermentum eu suscipit
        at. <a href="#">Donate</a>
      </p>
    </div>
  </div>
</div>
