{{- $reviewBatch := 3 }}
{{- $reviewList := site.Data.reviews.reviews }}
<div class="row">
  <div class="col text-center">
    <h2>
      <span class="impact-hdr">What our Users say</span>
    </h2>
  </div>
</div>
<div class="row pb-1">
  <div class="col-6 text-start">
    <button
      type="button"
      class="btn btn-warning"
      data-bs-target="#reviewCarousel"
      data-bs-slide="prev">
      <i class="fa fa-arrow-left"></i><span class="small navigators">Prev</span>
    </button>
  </div>
  <div class="col-6 text-end">
    <button
      type="button"
      class="btn btn-warning"
      data-bs-target="#reviewCarousel"
      data-bs-slide="next">
      <span class="small navigators">Next</span
      ><i class="fa fa-arrow-right"></i>
    </button>
  </div>
</div>
<div class="reviews pt-3">
  <div id="reviewCarousel" class="carousel slide">
    <div class="carousel-inner">
      {{- range seq 0 $reviewBatch (sub ($reviewList | len) 1) }}
        {{- $outerIndex := . }}
        {{ $class := print "carousel-item" }}
        {{- if eq $outerIndex 0 }}
          {{ $class = print "carousel-item active" }}
        {{- end }}
        <div class="{{- $class }}">
          <div class="row">
            {{- range seq 0 (sub $reviewBatch 1) }}
              {{- $index := add $outerIndex . }}
              {{- $review := index $reviewList $index }}
              <div class="col-lg-4">
                <div class="px-3">
                  <img
                    src="/img/reviews/{{- $review.image }}"
                    class="d-block w-100 pb-3"
                    alt="..." />
                  <div class="review pb-3">
                    <p class="quote">{{- $review.quote }}</p>
                    <p class="author small">&mdash; {{ $review.author }}</p>
                  </div>
                </div>
              </div>
            {{- end }}
          </div>
        </div>
      {{- end }}
    </div>
  </div>
</div>
