{{ $showItems := 2 }}
{{ $colSize := 3 }}
{{ $upcoming := site.Data.upcoming.upcoming }}
<div class="row with-separator">
  <div class="col-lg px-4">
    <div class="hdr-navigate hdr-upcoming-training d-flex align-items-end">
      <h2>Upcoming Training</h2>
    </div>
    <div class="row">
      {{ range seq 0 (sub $showItems 1) }}
        {{ with index $upcoming . }}
          <div class="col-lg">
            <h5>{{- .title }}</h5>
            <h6 class="calendar-hdr pb-2">
              {{- .type }}<br />{{ .startDate -}} &ndash;
              {{- .endDate }}
            </h6>
            <p>{{- .desc }}<br /><a href="#">View details and apply</a></p>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="col-lg px-4">
    <div class="hdr-navigate hdr-completed-training d-flex align-items-end">
      <h2>Recently Completed</h2>
    </div>
    <div class="row">
      {{ range seq 0 (sub $showItems 1) }}
        {{ with index $upcoming . }}
          <div class="col-lg">
            <h5>{{- .title }}</h5>
            <h6 class="calendar-hdr pb-2">
              {{- .type }}<br />{{ .startDate -}} &ndash;
              {{- .endDate }}
            </h6>
            <p>{{- .desc }}<br /><a href="#">Report</a></p>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
